// 变量的命名为 ${type/size-}{伪类-}attr-name;
// 没带type/size的变量为type=default/size=medium的样式
// 不在y-button--default/y-button--medium定义的原因是
// 有时用户传入的type/size并不是我们提供的type/size取值范围中
// 这样的话按钮就无法显示正常样式

$border-width: 1;
$border-raidus: 8;

$width: $normal-width;
$height:$normal-height;
$font-size: $normal-font-size;


// 垂直居中
@mixin verticalCenter($h) {
    height: unit($h);
    line-height: unit($h - 4);
}


@include b(button) {
    outline: none;
    box-sizing: border-box; 
    color: $font-color;
    border: $border-color solid 1px;
    border-radius: unit($border-raidus);
    width: unit($width);
    background-color: $bg-color;
    @include verticalCenter($height);

    @include pseudo(hover){
        background-color: $font-color;
        color: $bg-color;
    }

    @include pseudo(focus){
        border-color: $focus-border-color;
    }

    @include when(disabled){
        background-color: $disabled-bg-color;
        color: $disabled-color;
        border-color: $border-color;
        cursor: not-allowed;
    }

    @include when(pill){
        border-radius: unit($large-height);
    }
    // type
    @include m(primary) {
        color: $primary-font-color;
        border-color: $primary-border-color;
        background-color: $primary-bg-color;

        @include pseudo(focus) {
            border-color: $primary-focus-border-color;
        }

        @include pseudo(hover) {
            color: $primary-bg-color;
            background-color: $primary-font-color;
        }

        @include when(disabled){
             background-color: $disabled-bg-color;
            color: $disabled-color;
            border-color: $border-color;
            cursor: not-allowed;
        }
    }

    @include m(danger) {
        color: $danger-font-color;
        border-color: $danger-border-color;
        background-color: $danger-bg-color;

        @include pseudo(focus) {
            border-color: $danger-focus-border-color;
        }

        @include pseudo(hover) {
            color: $danger-bg-color;
            background-color: $danger-font-color;
        }

        @include when(disabled){
             background-color: $disabled-bg-color;
        color: $disabled-color;
        border-color: $border-color;
        cursor: not-allowed;
        }
    }

    @include m(success) {
        color: $success-font-color;
        border-color: $success-border-color;
        background-color: $success-bg-color;

        @include pseudo(focus) {
            border-color: $success-focus-border-color;
        }

        @include pseudo(hover) {
            color: $success-bg-color;
            background-color: $success-font-color;
        }

        @include when(disabled){
             background-color: $disabled-bg-color;
        color: $disabled-color;
        border-color: $border-color;
        cursor: not-allowed;
        }
    }

    // size
    @include m(large){
        width: unit($large-width);
        @include verticalCenter($large-height);
        font-size: $large-font-size;
    }

    @include m(small){
        width: unit($small-width);
        @include verticalCenter($small-height);
        font-size: $small-font-size;
    }

    @include m(mini){
        width: unit($mini-width);
        @include verticalCenter($mini-height);
        font-size: $mini-font-size;
    }
}