$inputwidth: 360;
$fontsize: 24;
$height:80;
$mheight:48;
$sheight:64;
$lheight:96;


@include b(input) {
    position: relative;
    display: inline-block;
    font-size: unit($fontsize);
    width: unit($inputwidth);
    @include e(inner) {
        background-color: #fff;
        background-image: none;
        border-radius: unit(4);
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: $height+px;
        line-height: $height+px;
        outline: none;
        padding: 0 unit(15);
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        width: 100%;
        &:focus {
            border: 1px solid #18a6fc;
        }
        @include when (error) {
            border: 1px solid #f00;
        }
    }
    @include m(mini) {
        height: unit($mheight);
        line-height: unit($mheight);
        @include e(inner) {
            height: unit($mheight);
            line-height: unit($mheight);
        }
    }
    @include m(small) {
        height: unit($sheight);
        line-height: unit($sheight);
        @include e(inner) {
            height: unit($sheight);
            line-height: unit($sheight);
        }
    }
    @include m(large) {
        height: unit($lheight);
        line-height: unit($lheight);
        @include e(inner) {
            height: unit($lheight);
            line-height:unit($lheight);
        }
    }

    @include e(suffix) {
        position: absolute;
        height: 100%;
        top: unit(0);
        text-align: center;
        right: unit(5);
        transition: all .3s;
        pointer-events: none;

    }

    @include e(suffix-inner){
        pointer-events: all;
    }
}